body {
    background-color: rgb(57, 62, 70);
}
.navbar {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: black;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
    background-image: linear-gradient(rgb(22, 24, 26), rgb(57, 62, 70)),
        linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#grad-for-navbar {
    color: black;
    border: 1rem solid transparent;
    border-radius: 2rem;
    background-image: linear-gradient(to right, #fbfcb9be, #65d3ffaa, #ffcdf3aa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
/* for computer */
@media (min-width: 50rem) {
    #logo {
        width: 10%;
    }
    .after-navbar {
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
        text-align: center;
        height: 50rem;
    }
    #realtime-best {
        margin: 1rem;
        border: 0.5rem solid transparent;
        border-radius: 1rem;
        background-image: linear-gradient(rgb(57, 62, 70), rgb(57, 62, 70)),
            linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    #todays-hot {
        margin: 1rem;
        border: 0.5rem solid transparent;
        border-radius: 1rem;
        background-image: linear-gradient(rgb(57, 62, 70), rgb(57, 62, 70)),
            linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    #login-container {
        margin: 1rem;
        border: 0.5rem solid transparent;
        border-radius: 1rem;
        background-image: linear-gradient(rgb(57, 62, 70), rgb(57, 62, 70)),
            linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        height: 20rem;
    }
}

/* for phone */
@media (max-width: 50rem) {
    #logo {
        width: 4.5rem;
    }
    .mobgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .after-navbar {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
        height: 50rem;
    }
    #realtime-best {
        margin: 1rem;
        border: 2px solid transparent;
        border-radius: 1rem;
        background-image: linear-gradient(rgb(57, 62, 70), rgb(57, 62, 70)),
            linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    #todays-hot {
        margin: 1rem;
        border: 2px solid transparent;
        border-radius: 1rem;
        background-image: linear-gradient(rgb(57, 62, 70), rgb(57, 62, 70)),
            linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    #login-container {
        margin: 1rem;
        border: 2px solid transparent;
        border-radius: 1rem;
        background-image: linear-gradient(rgb(57, 62, 70), rgb(57, 62, 70)),
            linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        background-origin: border-box;
        background-clip: content-box, border-box;
        height: 20rem;
    }
}
/* 
.darktheme-container {
    background-image: linear-gradient(rgb(57, 62, 70), rgb(57, 62, 70)),
        linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
}
.lighttheme-container {
    background-image: linear-gradient(rgb(198, 193, 185), rgb(198, 193, 185)),
        linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
}
이부분 그지같은거 나도 아는데 못바꿈 ㅠㅠ 이렇게 안하면 border-radiu가 무효하데ㅠㅠㅠㅠㅠ 니가 잘 고쳐봐 to ldder by rtccc
 */
